<a href="https://colab.research.google.com/github/MashaKubyshina/Learning_to_code/blob/master/EDA_Job_Postings_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# The EDA is done following this path https://towardsdatascience.com/text-classification-in-python-dd95d264c802
# To install it, please type this command in the shell(terminal): ! conda install -c conda-forge altair vega_datasets notebook vega

/bin/bash: conda: command not found

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import seaborn as sns
sns.set_style("whitegrid")
import altair as alt
#alt.renderers.enable("notebook")

# Code for hiding seaborn warnings
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Exploratory Data Analysis on the dataset

# For further information please visit the project site: https://altair-viz.github.io/

In [ ]:
# Open the dataset from https://data.world/jobspikr/10000-data-scientist-job-postings-from-the-usa

import pandas as pd
df = pd.read_csv('https://query.data.world/s/hpv4ejstsxjszdo2eathrfgjhzqlqy')
df.head(10)

             crawl_timestamp  ... html_job_description
0  2019-02-06 05:26:22 +0000  ...                  NaN
1  2019-02-06 05:33:41 +0000  ...                  NaN
2  2019-02-06 05:33:35 +0000  ...                  NaN
3  2019-02-06 05:33:42 +0000  ...                  NaN
4  2019-02-06 05:48:23 +0000  ...                  NaN
5  2019-02-06 05:36:06 +0000  ...                  NaN
6  2019-02-06 05:34:37 +0000  ...                  NaN
7  2019-02-06 05:52:12 +0000  ...                  NaN
8  2019-02-06 05:34:18 +0000  ...                  NaN
9  2019-02-06 06:03:55 +0000  ...                  NaN

[10 rows x 22 columns]

In [ ]:
df.shape

(10000, 22)

In [ ]:
df.columns

Index(['crawl_timestamp', 'url', 'job_title', 'category', 'company_name',
       'city', 'state', 'country', 'inferred_city', 'inferred_state',
       'inferred_country', 'post_date', 'job_description', 'job_type',
       'salary_offered', 'job_board', 'geo', 'cursor', 'contact_email',
       'contact_phone_number', 'uniq_id', 'html_job_description'],
      dtype='object')

In [ ]:
# Create a slice with the columns to look at

df_slice=df[['job_title', 'category', 'company_name',
       'city', 'state', 'country', 'inferred_city', 'inferred_state',
       'inferred_country', 'post_date', 'job_description', 'job_type']]

df_slice.shape

(10000, 12)

In [ ]:
# Drop the columns with nan values

df_full = df_slice.dropna(how='any',axis=0)
df_full.shape

(8048, 12)

In [ ]:
# For visualizaiton make a slice of 4000 rows (the visualizaiton tool will work with up to 5000 rows only)

data=df_full.iloc[:4000]
data

                                              job_title  ...   job_type
0                           Enterprise Data Scientist I  ...  Undefined
3     Data Scientist, Aladdin Wealth Tech, Associate...  ...  Undefined
4                                 Senior Data Scientist  ...  Full Time
5     CIB – Fixed Income Research – Machine Learning...  ...  Undefined
6                  Data Scientist, Licensing Operations  ...  Undefined
...                                                 ...  ...        ...
5169  Senior Data Scientist - Healthcare, Predictive...  ...  Full Time
5170  Senior Data Scientist - Predictive Modeling/In...  ...  Full Time
5171                  Data Scientist - Oil/Gas Industry  ...  Full Time
5172  Senior Data Scientist (Python, Tensorflow, Pre...  ...  Full Time
5173  Lead Data Scientist - CNN, Deep Learning - REL...  ...  Full Time

[4000 rows x 12 columns]

In [ ]:
# create new column with just the first name of the category name

data['cat']=data['category'].str.split().str[0]

data['cat'] = data['cat'].apply(lambda x: ' '.join(sorted(x.split())))
data['cat'].unique()

array(['Accounting/Finance', 'biotech', 'Computer/Internet',
       'Arts/Entertainment/Publishing', 'military', 'business',
       'Engineering/Architecture', 'Manufacturing/Mechanical', 'life',
       'Banking/Loans', 'agriculture', 'Education/Training', 'science',
       'arts', 'Customer+Service', 'food', 'technology', 'Healthcare',
       'Government/Military', 'architecture', 'community', 'production',
       'r', 'Insurance', 'security', 'healthcare', 'Human+Resources',
       'Administrative', 'language', 'media', 'Sales', 'advertising',
       'office', 'Restaurant/Food+Service', 'Telecommunications',
       'Construction/Facilities', 'Legal', 'Marketing/Advertising/PR',
       'Non-Profit/Volunteering', 'Pharmaceutical/Bio-tech', 'education',
       'management', 'transportation', 'protective', 'legal', 'sales',
       'Retail', 'Hospitality/Travel', 'building',
       'Transportation/Logistics', 'math', 'Engineering-or-architecture',
       'Computer-or-internet', 'Manufacturing-or-mechanical',
       'Transportation-or-logistics', 'Banking-or-loans',
       'Accounting-or-finance', 'Arts-or-entertainment-or-publishing',
       'Law-Enforcement-or-security', 'Marketing-or-advertising-or-pr',
       'computer', 'service', 'Government-or-military',
       'Construction-or-facilities', 'Human-Resources',
       'Customer-Service', 'social', 'Restaurant-or-food-Service',
       'finance', 'administrative', 'Education-or-training',
       'engineering', 'entertainment', 'construction', 'manufacturing',
       'financieel', 'animal', 'higher', 'Hospitality-or-travel',
       'personal', 'Upper-Management-or-consulting'], dtype=object)

In [ ]:
data['cat']= data['cat'].replace(['Accounting/Finance','Accounting-or-finance','finance','financieel'],'Finance')
data['cat']= data['cat'].replace(['biotech','Pharmaceutical/Bio-tech','science','math'],'Biotech')
data['cat']= data['cat'].replace(['Computer/Internet','technology','Computer-or-internet','computer'],'Computer/Tech')
data['cat']= data['cat'].replace(['life','social','r','animal','higher','personal'],'Misc')
data['cat']= data['cat'].replace(['Arts/Entertainment/Publishing','Arts-or-entertainment-or-publishing','entertainment'],'Entertainment')
data['cat']= data['cat'].replace(['production','media','community','advertising','Marketing/Advertising/PR','Sales','sales','Marketing-or-advertising-or-pr'],'SocialMedia/Marketing')
data['cat']= data['cat'].replace(['military','Government/Military','science','Government-or-military'],'Military')
data['cat']= data['cat'].replace(['business','management','Upper-Management-or-consulting'],'Business/Consulting')
data['cat']= data['cat'].replace(['Administrative','office','administrative'],'Administrative')
data['cat']= data['cat'].replace(['Engineering/Architecture','architecture','Engineering-or-architecture','engineering'],'Engineering/Architecture')
data['cat']= data['cat'].replace(['Manufacturing/Mechanical','production','manufacturing','Manufacturing-or-mechanical'],'Manufacturing')
data['cat']= data['cat'].replace(['Banking/Loans','Banking-or-loans'],'Banking')
data['cat']= data['cat'].replace(['agriculture',],'Agriculture')
data['cat']= data['cat'].replace(['Restaurant/Food+Service','food','Restaurant-or-food-Service'],'FoodService')
data['cat']= data['cat'].replace(['Education/Training','education','Education-or-training'],'Education/Training')
data['cat']= data['cat'].replace(['science','math'],'Math/Science')
data['cat']= data['cat'].replace(['Healthcare','healthcare','service','Customer-Service'],'Healthcare')
data['cat']= data['cat'].replace(['Customer+Service','Telecommunications','service','Customer-Service'],'CustomerService')
data['cat']= data['cat'].replace(['Insurance','protective'],'Insurance')
data['cat']= data['cat'].replace(['security','Law-Enforcement-or-security'],'Security')
data['cat']= data['cat'].replace(['Human+Resources','Human-Resources'],'HumanResources')
data['cat']= data['cat'].replace(['language'],'Language')
data['cat']= data['cat'].replace(['Construction/Facilities','building','Construction-or-facilities','construction'],'Construction')
data['cat']= data['cat'].replace(['Legal','legal'],'Legal')
data['cat']= data['cat'].replace(['arts'],'Arts')
data['cat']= data['cat'].replace(['transportation','Transportation/Logistics','Transportation-or-logistics'],'Transportation')
data['cat']= data['cat'].replace(['Hospitality-or-travel','Hospitality/Travel'],'Hospitality/Travel')

In [ ]:
data['cat'].unique()

array(['Finance', 'Biotech', 'Computer/Tech', 'Entertainment', 'Military',
       'Business/Consulting', 'Engineering/Architecture', 'Manufacturing',
       'Misc', 'Banking', 'Agriculture', 'Education/Training', 'Arts',
       'CustomerService', 'FoodService', 'Healthcare',
       'SocialMedia/Marketing', 'Insurance', 'Security', 'HumanResources',
       'Administrative', 'Language', 'Construction', 'Legal',
       'Non-Profit/Volunteering', 'Transportation', 'Retail',
       'Hospitality/Travel'], dtype=object)

In [ ]:
# Let's plot number of articles in each category

bars = alt.Chart(data).mark_bar(size=50).encode(
    x=alt.X("cat"),
    y=alt.Y("count():Q", axis=alt.Axis(title='Number of Job Postings')),
    tooltip=[alt.Tooltip('count()', title='Job Category'), 'cat'],
    color='cat'

)

text = bars.mark_text(
    align='center',
    baseline='bottom',
).encode(
    text='count()'
)

(bars + text).interactive().properties(
    height=300, 
    width=700,
    title = "Number of jobs in each category",
)

In [ ]:
# Percent of jobs in each category

data['id'] = 1
data2 = pd.DataFrame(data.groupby('cat').count()['id']).reset_index()

bars = alt.Chart(data2).mark_bar(size=50).encode(
    x=alt.X('cat'),
    y=alt.Y('PercentOfTotal:Q', axis=alt.Axis(format='.0%', title='% of Jobs')),
    color='cat'
).transform_window(
    TotalArticles='sum(id)',
    frame=[None, None]
).transform_calculate(
    PercentOfTotal="datum.id / datum.TotalArticles"
)

text = bars.mark_text(
    align='center',
    baseline='bottom',
    #dx=5  # Nudges text to right so it doesn't appear on top of the bar
).encode(
    text=alt.Text('PercentOfTotal:Q', format='.1%')
)

(bars + text).interactive().properties(
    height=300, 
    width=700,
    title = "% of jobs in each category",
)

In [ ]:
# Job posts lenght by category

data['Job_post_length'] = data['job_description'].str.len()

In [ ]:
plt.figure(figsize=(12.8,6))
sns.distplot(data['Job_post_length']).set_title('Job posts length distribution');

In [ ]:
data['Job_post_length'].describe()

count     4000.000000
mean      4505.601500
std       2914.139254
min         14.000000
25%       2617.500000
50%       3832.500000
75%       5589.000000
max      33400.000000
Name: Job_post_length, dtype: float64

In [ ]:
# Removing 95% percentile to aprpeciate the distribution bettwe

quantile_95 = data['Job_post_length'].quantile(0.95)
data_95 = data[data['Job_post_length'] < quantile_95]

In [ ]:
plt.figure(figsize=(12.8,6))
sns.distplot(data_95['Job_post_length']).set_title('Job posts length distribution');

In [ ]:
data_more10k = data[data['Job_post_length'] > 10000]
len(data_more10k)

215

In [ ]:
plt.figure(figsize=(12.8,6))
sns.boxplot(data=data, x='cat', y='Job_post_length', width=.5);

In [ ]:
plt.figure(figsize=(12.8,6))
sns.boxplot(data=data_95, x='cat', y='Job_post_length');

In [ ]:
with open('Jobs_dataset.pickle', 'wb') as output:
    pickle.dump(data, output)