<a href="https://colab.research.google.com/github/MashaKubyshina/Learning_to_code/blob/master/PART_3_Best_Model_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pickle
import pandas as pd

In [6]:
path_pickles = "/content/drive/MyDrive/Pickles/Models/"

list_pickles = [
    "df_models_gbc.pickle",
    "df_models_knnc.pickle",
    "df_models_lrc.pickle",
    "df_models_mnbc.pickle",
    "df_models_rfc.pickle",
    "df_models_svc.pickle"
]

df_summary = pd.DataFrame()

for pickle_ in list_pickles:
    
    path = path_pickles + pickle_
    
    with open(path, 'rb') as data:
        df = pickle.load(data)

    df_summary = df_summary.append(df)

df_summary = df_summary.reset_index().drop('index', axis=1)

In [7]:
# Here is the summary of all the models

df_summary

                     Model  Training Set Accuracy  Test Set Accuracy
0        Gradient Boosting               0.982667              0.722
1                      KNN               0.713333              0.602
2      Logistic Regression               0.730000              0.582
3  Multinomial Na誰ve Bayes               0.592000              0.582
4            Random Forest               0.982667              0.724
5                      SVM               0.790000              0.634

In [8]:
# Sorting them by test accuracy

df_summary.sort_values('Test Set Accuracy', ascending=False)

                     Model  Training Set Accuracy  Test Set Accuracy
4            Random Forest               0.982667              0.724
0        Gradient Boosting               0.982667              0.722
5                      SVM               0.790000              0.634
1                      KNN               0.713333              0.602
2      Logistic Regression               0.730000              0.582
3  Multinomial Na誰ve Bayes               0.592000              0.582

In [ ]:
# The results in this are not clean. The highest test accuracy models, Random Forest and Gradient Boosting, are overfitting.
# However the classes were unbalanced that this overfitting might be due to that.
# If could also give more weight to precision and recall.